# Flutter build and intermediate files
build/
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.packages

# IDE files
.idea/
.vscode/

# Android build files
.android/
.gradle/
.cxx/
android/app/.cxx/

# iOS build files
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework/
ios/Flutter/App.framework/

# Flutter ephemeral files
flutter/ephemeral/

# Dart pub cache
.pub-cache/

# Logs, lock files and backups
*.log
*.lock
*.tmp
*.bak
